[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = https://github.com/dm/pagination.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/tasks-cache"]
	path = modules/tasks-cache
	url = https://github.com/kohana-minion/tasks-cache.git
[submodule "modules/minion"]
	path = modules/minion
	url = https://github.com/kohana/minion.git
